.wrapper-left{
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 45vh;
    background-color: #999;
    display: inline-block;
}
.wrapper-right{
    width: 67.5%;
    margin-right: 2.5%;
    min-height: 50vh;
    vertical-align: top;
    background-color: #999;
    display: inline-block;
}