<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/logreg.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- navbar with pinstripe background -->
    <div class="container-fluid ">
        <nav class="navbar navbar-expand">
            <div class="container">
                <a href="/" class="navbar-brand text-dark px-3 py-2 font-weight-bold">MyTrade <i class="fas fa-piggy-bank"></i></a>

            </div>
        </nav>
    </div>
    <div class="wrapper mx-auto">
            <form action="/process_profile" method="post" class="p-4 border rounded text-center">
                <h2 class="mb-3">Create Profile</h2>
                {% csrf_token %}
                <input type="text" class="form-control mb-3" name="username" placeholder="Username">
                <textarea name="bio" class="form-control mb-3" placeholder="Your Bio""></textarea>
                <h4 class="mb-3">Choose Avatar</h4>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_bomb" class="">
                    <i class="fas fa-bomb fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_dragon" class="">
                    <i class="fas fa-dragon fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_crown" class="">
                    <i class="fas fa-crown fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_anchor" class="">
                    <i class="fas fa-anchor fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_crow" class="">
                    <i class="fas fa-crow fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_ghost" class="">
                    <i class="fas fa-ghost fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_atom" class="">
                    <i class="fas fa-atom fa-2x"></i>
                </div>
                <div class="avatar-div">
                    <input type="radio" name="av_icon" value="fa_rocket" class="">
                    <i class="fas fa-rocket fa-2x"></i>
                </div>
            <button type="submit" class="btn btn-dark btn-block mt-2">Create Profile</button>
            
        </form>
    </div>