<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTrade</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- reference to top of the page -->
    <div id="top"></div>
    <!-- navbar with pinstripe background -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand">
            <div class="container">
                <a href="" id="logo" class="navbar-brand text-dark px-3 py-2 font-weight-bold">MyTrade <i class="fas fa-piggy-bank"></i></a>
                <ul class="navbar-nav">
                    <li><a href="#about" role="button" class=" btn text-dark nav-item mr-1 font-weight-bold">About</a></li>
                    <li><a href="/login" role="button" class="btn text-dark nav-item mr-1 font-weight-bold">Login</a></li>
                    <li><a href="/register" role="button" class="btn text-dark nav-item font-weight-bold">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- welcome to mytrade div with background of the ipad -->
    <div class="jumbotron my-none" id="stock_overlay">
        <div id="welcome_overlay" class="text-center p-5 mr-3">
            <h1 class="display-3">Welcome to <span class="font-weight-bold">MyTrade</span></h1>
            <a href="/register" role="button" class="btn btn-dark px-3 py-2 text-light font-weight-bold">Get Started!</a>
        </div>
    </div>
    <!-- <div class="container-fluid bg-dark-gray"></div> -->
    <!-- the about section with 3 cards  -->
        <!-- card 1 -->
    <div id="about" class="container-fluid p-3 card-columns pt-4 text-center">
        <div class="pinstripe-dark rounded img-wrapper">
            <img src="../../static/img/money2.jpg" alt="" class="img-fluid">
        </div>
        <div class="card ">
            <div class="card-body">
                <h3 class="card-title py-2 font-weight-bold">Buy, Sell, & Trade Stock</h3>
                <p class="card-text">Once you have signed up for MyTrade you can deposit money and start buying stock. When you no longer want the stock you can sell!</p>
            </div>
        </div>
        <!-- card 2 -->
        <div class="pinstripe-dark rounded img-wrapper">
            <img src="../../static/img/people.jpg" alt="" class="img-fluid">
        </div>
        <div class="card ">
            <div class="card-body">
                <h3 class="card-title py-2 font-weight-bold">Connect With Others!</h3>
                <p class="card-text">You are able to view other users trades once you are following them. You can like and comment to interact!</p>
            </div>
        </div>
        <!-- card 3 -->
        <div class="pinstripe-dark rounded img-wrapper">
            <img id="analytics" src="../../static/img/analytics2.jpg" alt="" class="img-fluid">
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title py-2 font-weight-bold">View Analytics!</h3>
                <p class="card-text">View the analysis of your trading history, trends of current stock, and compare your analysis with other users!</p>
            </div>
        </div>
        <!-- link to get back to top -->
        <a href="#top" role="button" id="bottom" class= "btn btn-dark text-light">Back to top</a>
    </div>
</body>
</html>